.selected-items {
}
.selected-items h3 {
  color: #1d1d1d;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 15px;
}
.selected-items ul {
}
.selected-items ul li {
  list-style-type: none;
  font-size: 22px;

  padding: 10px 15px;
  background: #333;
  color: #fff;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 7px;
}
.btn-wrapper {
  margin-top: 30px;
  text-align: center;
}
.btn-wrapper .chose-btn,
.btn-wrapper .reset-btn {
  padding: 10px 18px;
  font-size: 16px;
  color: #fff;

  border: 0px;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  margin: 0px 7px;
}
.btn-wrapper .chose-btn {
  background: #27ae60;
}
.btn-wrapper .reset-btn {
  background: #c0392b;
}
.randomOne {
  margin-bottom: 15px;
}
.randomOne span {
  font-weight: 500;
}
