.single-pr-card {
  border-radius: 7px;
  background: #ecf0f1;
  margin: 0 auto;
  padding: 10px;
}
.single-pr-card .card-top {
}
.single-pr-card .card-top img {
  width: 240px;
  height: 265px;
  object-fit: cover;
  border-radius: 7px;
}
.single-pr-card .card-info {
}
.single-pr-card .card-info p {
}
.single-pr-card .card-info h3 {
}
