.area-wrapper {
  display: flex;
  /* gap: 10px; */
  justify-content: space-between;
  align-items: flex-start;
}
.product-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 0px 35px;
}
.selected-area {
  background: #ecf0f1;
  width: 100%;
  border-radius: 7px;

  position: sticky;
  top: 0px;
  padding: 15px 10px;
  min-height: 300px;
}
@media (max-width: 767px) {
  .area-wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .selected-area {
    top: 0px;
    left: 0px;
    min-height: 100px;
    margin-bottom: 15px;
  }
  .product-wrapper {
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 0px;
  }
}
@media (max-width: 550px) {
  .product-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .selected-items ul li {
    font-size: 18px;
    padding: 10px 10px;
    color: #fff;
    width: 250px;
  }
}
