* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* .container {
  width: 90%;
  margin: 0 auto;
} */
.area-wrapper {
  display: flex;
  /* gap: 10px; */
  justify-content: space-between;
  align-items: flex-start;
}
.product-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 0px 35px;
}
.selected-area {
  background: #ecf0f1;
  width: 100%;
  border-radius: 7px;

  position: sticky;
  top: 0px;
  padding: 15px 10px;
  min-height: 300px;
}
.selected-area h3 {
  color: #1d1d1d;
  font-weight: 500;
  font-size: 24px;
}
